.content {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding-top: 50px;
}

.bottom-toolbar {
    position:fixed;
    bottom: 0;
    z-index: 1000;
}

.top-toolbar {
    position:fixed;
    top: 0;
    right: 0;
    padding: 7px;
    z-index: 1000;
}

.button-container {
    line-height:20px;
}
