<mat-toolbar color="primary" class="topbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="15px">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a [routerLink]="logoImageUrl" class="nav-brand">
            <img [src]="logoImage" class="nav-brand__logo" />
        </a>
        <router-outlet name="top-bar-left"></router-outlet>
        <ng-content select="[top-bar-left]"></ng-content>
      </div>
      <div class="right-topbar" fxLayout="row" fxLayoutGap="15px">
        <router-outlet name="top-bar-right"></router-outlet>
        <ng-content select="[top-bar-right]"></ng-content>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="'navigation'"
        [mode]="'side'"
        [opened]="true">
        <router-outlet name="navigation"></router-outlet>
        <ng-content select="[navigation]"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>